#login {
	margin: auto;
	width: 50%;
	max-width: 500px;
	background: #d8c1ab;
	padding: 30px;
	border: 1px solid.
	margin-top: 300px;
	border-radius: 10px;
}
.botonsalir{
	display: inline-block;
  border-radius: 4px;
  background-color: #FE2E2E;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 1px;
  width: 5%;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 10px;

}
.botonsalir span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.botonsalir span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.botonsalir:hover span {
  padding-right: 25px;
}

.botonsalir:hover span:after {
  opacity: 1;
  right: 0;
}

.usuario {
	display: block;
	padding: 10px;
	width: 100%;
	margin:30px 0;
	font-size: 15px;
}
.contrase単a{
	display: block;
	padding: 10px;
	width: 100%;
	margin:30px 0;
	font-size: 15px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #FE2E2E;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
h2 {
	text-align: center;
	font-size: 30PX;

}
#logo p{
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
	position: relative;
	color:black;
	font-size: 30px;
	color: white;
	margin-top: 32%;
	text-align: center;
	font-family: Qbicle1BRKMK;
}
#cabecera #logo{
	color: black;
	display: block;
	float:left;
	width:100px;
	height: 100px;
	background-image: url("../images/logoBack2.jpg");
	color: #EDD7C2;
	text-align: center;
	border-radius: 100px;
	padding:0;

}
nav {
	margin-top: 50px;
	margin-left: 3%;
}
#cabecera #logo img{
	width: 100px;
	height: 100px;
	margin: 0;

}
#buscador {

	margin-left: 300px;

}

input[type="search"]{
  width: 200px;
  padding: 6px 40px;
  background: url("http://www.abc.net.au/res/bundles/2.0.5/images/icon-search-grey@1x.png") no-repeat ;
  background-position: 5px 3px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 6px;
   transition: width 2s ease-in ;
  outline: none;
}
input[type="search"]:focus{
   width: 50%;
  border: 1px solid #555;
}

#cabecera #logo{
	margin-top: 10px;
}
#menu ul#menu_principal li{
	display:inline;
	float:left; 
	display: inline-block;
    color: white;
    padding: 0.5% 0.1%;
    text-align: center;
    text-decoration: none;
    list-style:none;
    display: inline-block;
}
.clear{
	clear:both;
}
nav#menu.botondemenu {
	margin-top: 0px;
}
#menu a {
		white-space: nowrap;
	background-color:#FE2E2E;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 0.5% 0 0;
    cursor: pointer;
	border-radius: 8px;
	border: 2px solid;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#cabecera{
	background-color: #E44B3B;
	position: fixed;
	width: 100%;
	left: 0; 
	top: 0; 
	height: 20%;
}
#contenedor{
	width:100%;
	width:expression(document.body.clientWidth> 901? "900px":"auto");
	margin:0 auto;
	background-color: #EDD7C2;
	padding-top: 200px;
}
#cabecera #logo img{
	width: 100px;
	height: 100px;
	margin: 0;

}

nav {
	margin-top: 50px;
	margin-left: 3%;
}


.Botones {
	position: absolute;
    right: 20px;
    top: 60px;
	margin-top: 0px;
	margin-left: 0px;
	padding: 0;
	clear: both;
	display: inline-flex;	
}
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button1 {
    background-color: #dc7676; 
    width:55px; 
    height:25px;
    border: none;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.Botones img:hover {
	height: 40px;
	width: 40px;
}
#user img {
	height: 40px;
	width: 40px;
	margin-top: 25px;
}
#carrito img {
	height: 40px;
	width: 40px;
	margin-top: 25px;
}

#menu ul#menu_principal li{
	display:inline;
	float:left; 
	display: inline-block;
    color: white;
    padding: 0.5% 0.1%;
    text-align: center;
    text-decoration: none;
    list-style:none;
    display: inline-block;}

#menu a:hover:not(.active){
 	background-color: #d32626;
 }
 @font-face {
    font-family: 'Qbicle1BRKMK';
    src: url('../fonts/Qbicle1BRKMK.eot');
    src: url('../fonts/Qbicle1BRKMK.eot') format('embedded-opentype'),
         url('../fonts/Qbicle1BRKMK.woff2') format('woff2'),
         url('../fonts/Qbicle1BRKMK.woff') format('woff'),
         url('../fonts/Qbicle1BRKMK.ttf') format('truetype'),
         url('../fonts/Qbicle1BRKMK.svg#Qbicle1BRKMK') format('svg');
}

@font-face {
font-family:Rektec;
src: url('../Fonts/Extras/Park Lane NF.ttf');
}

body{
	margin:0;
	padding: 0;
	background-color: #164C96;
	 overflow-x: hidden;
	 height: 52%

}
#pie{
	background-color: #1977B5;
	height: 32%;
	margin-top: 200px;
}

#redesSociales img{
	width:35px;
	height: 35px; 
}

td {
        font-size: 15px;
        line-height: 20px;
        padding: 0 20px;
        text-align: justify;
        vertical-align: top;
        width: 50%;
}

/* Dropdown Button */
.dropbtn {
	background-color:#FE2E2E;
    color: white;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
	border-radius: 8px;
	border: 2px solid;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #d32626;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
		margin:0.2% 0.2% 0.2% 0.2%;
    position: relative;
    display: none;
    float:right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    display: block;
    background-color:#FE2E2E;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 0.5% 0 0;
    cursor: pointer;
	border-radius: 8px;
	border: 2px solid;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #d32626}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px ) {



#contenedor {
		padding-top: 30px;
}	 

	 #buscador input {
	 	width: 95%;
	 	margin: 0;
	 }


#cabecera #buscador{
	float:left;
	margin-left: 3%;
	margin-top: 1%;
	margin-bottom: 5%;
	}

#cabecera{
	width: 20%;
	height: 100%;
}

#cabecera #logo{
	position: relative;
	margin-top: 1%;
	margin-left: 20%;
	margin-bottom: 5%;
}
#menu ul{
	margin-left: 0;
	padding: 0;
}

#menu ul  li{
    padding: 0;
    margin:0;
}


	#menu a {
    padding: 8px 15px;
   display: inline-block;
    font-size: 14px;
   margin-top: 3%;
   margin-left:0;
   margin-right: 3%;
}


#pie{width: 82%;
	margin-left:18%; 
	background-color: #1977B5;
}

#login {
	margin: 150px 0px 0px 310px;
	width: 50%;
	max-width: 500px;
	background: #d8c1ab;
	padding: 30px;
	border: 1px solid.
	margin-top: 300px;
	border-radius: 10px;

}

h2 {
	font-size: 25px;
}
.usuario {
	display: block;
	padding: 10px;
	width: 100%;
	margin:30px 0;
	font-size: 15px;
}
.contrase単a{
	display: block;
	padding: 10px;
	width: 100%;
	margin:30px 0;
	font-size: 15px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #FE2E2E;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
 }

 /* Small Devices, Tablets */
@media only screen and (max-width : 768px ) { 


#login {
	margin: 150px 0px 0px 250px;
	width: 50%;
	max-width: 500px;
	background: #d8c1ab;
	padding: 10px;
	border: 1px solid.
	border-radius: 10px;

}

h2 {
	font-size: 20px;
}
.usuario {
	display: block;
	padding: 10px;
	width: 94%;
	margin:30px 0;
	font-size: 13px;
}
.contrase単a{
	display: block;
	padding: 10px;
	width: 94%;
	margin:30px 0;
	font-size: 13px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #FE2E2E;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 97%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#menu a {
    padding: 8px 10px;
    font-size: 13px;
    cursor: pointer;
}

#cabecera #logo{
	position: relative;
	margin-top: 1%;
	margin-left: 5%;
	margin-bottom: 5%;
}
#cabecera #buscador{
	text-align: center;
	display: inline-block; 
	float: right;
	 }
#contacto p{
	font-size: 11px;
}
#contacot h3 {
	font-size: 13px;
}
#redessociales h3 {
	font-size: 13px;
}
#redesSociales img{
	width:25px;
	height: 25px; 
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px ) { 

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

nav {
	display: none;
}

#cabecera{
	width: 100%;
	left: 0; 
	top: 0; 
	height: 40px;
}

#cabecera #buscador{ display: none;
}

#cabecera #logo{
	color: white;
	display: block;
	float:left;
	margin:0.2% 0.2% 0.2% 0.2%;
	width:100px;
	height: 34px;
	background-color: black;
	text-align: center;
	border-radius: 8px;
	padding:0;
	border: 2px solid white;

}

#logo p{
	color:white;
	font-size: 25px;
	margin-top: 4%;
	text-align: center;
	font-family: Qbicle1BRKMK;
}



#pie{width: 100%;
	margin-left:0; 
}
#contenedor {
	width: 100%;
}
#login {
	margin: 150px 0px 0px 100px;
	width: 50%;
	max-width: 500px;
	background: #d8c1ab;
	padding: 10px;
	border: 1px solid.
	border-radius: 10px;

}

h2 {
	font-size: 20px;
}
.usuario {
	display: block;
	padding: 10px;
	width: 90%;
	margin:30px 0;
	font-size: 13px;
}
.contrase単a{
	display: block;
	padding: 10px;
	width: 90%;
	margin:30px 0;
	font-size: 13px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #FE2E2E;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 97%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
}


.ocultar {
	display: none;
}